STRAPI_API=

MEILISEARCH_URL=https://meilisearch.theexonian.net
MEILISEARCH_PK=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Custom Clerk URLs
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

SPEECHIFY_API_KEY=

LISTMONK_API_URL=http://34.233.229.132:9000/api/subscribers
LISTMONK_APITOKEN=
